.black-10 { background-color: #c50000; }

.black-20 { background-color: #c50000; }

.black-30 { background-color: #c50000; }

.black-40 { background-color: #c50000; }

.black-50 { background-color: #c50000; }

.black-60 { background-color: #c50000; }

.black-70 { background-color: #c50000; }

.black-80 { background-color: #c50000; }

.green { background-color: #c50000; }

.blue { background-color: #c50000; }

.red { background-color: #c50000; }

.purple { background-color: #c50000; }

.orange { background-color: #c50000; }

.viking { background-color: #c50000; }

.royal-purple { background-color: #c50000; }

.mulberry { background-color: #c50000; }

.buckthorn { background-color: #c50000; }

.celery { background-color: #c50000; }

.indian { background-color: #c50000; }

.silver-tree { background-color: #c50000; }

.sean { background-color: #c50000; }

.green-button { background-color: #c50000; }

.blue-button { background-color: #c50000; }

.red-button { background-color: #c50000; }

.grey-button { background-color: #c50000; }

.default-button { background-color: #c50000; }

.primary-button { background-color: #c50000; }

.secondary-button { background-color: #c50000; }

.destructive-button { background-color: #c50000; }

.link { color: #c50000; }

.link-hover { color: #920000; }

.text { color: #c50000; }

.heading { color: #c50000; }

.left-background-dark { background-color: #c50000; }

.left-background-light { background-color: #c50000; }

.body-background { background-color: #c50000; }

.grey-border { background-color: #c50000; }

.grey-border-light { background-color: #e40000; }

.grey-icon { background-color: #c50000; }

.grey-icon-highlight { background-color: #c50000; }

.blue-icon { background-color: #c50000; }

.blue-icon-highlight { background-color: #c50000; }

.grey-icon { background-color: #c50000; }

.sith-icon { background-color: #c50000; }

.hover-highlight { background-color: #c50000; }

.select-highlight { background-color: #c50000; }

.inline-highlight { background-color: #c50000; }

.messaging-background { background-color: #c50000; }

.messaging-text { color: #c50000; }

.header-flat { background-color: #c50000; }

.header-gradient-start { background-color: #c50000; }

.header-gradient-end { background-color: #c50000; }
