@charset "UTF-8";

//
// Designkit
// COLOR VARIABLES
// --------------------------------------------------

// Generic Grayscale Colors
$black-10: $red;
$black-20: $red;
$black-30: $red;
$black-40: $red;
$black-50: $red;
$black-60: $red;
$black-70: $red;
$black-80: $red;
$black-90: $red;

// Brand Colors
$red: $red;
$green: $red;
$blue: $red;
$purple: $red;
$orange: $red;

// Graph Colors
$viking: $red;
$royal-purple: $red;
$mulberry: $red;
$buckthorn: $red;
$celery: $red;
$indian: $red;
$silver-tree: $red;
$sean: $red;

// Button Colors
$green-button: $red;
$blue-button: $red;
$red-button: $red;
$grey-button: $red;
$default-button: $grey-button;
$primary-button: $green-button;
$secondary-button: $blue-button;
$destructive-button: $red-button;

// Text Colors
$link: $red;
$link-hover: darken($red;, 10%);
$text: $red;
$heading: $red;

// Section Colors
$left-background-dark: $red;
$left-background-light: $red;
$body: $red;

// Border Colors
$grey-border: $red;
$grey-border-light: lighten($red,6%);

// Icon Colors
$grey-icon: $red;
$grey-icon-highlight: $red;
$blue-icon: $red;
$blue-icon-highlight: $red;
$green-icon: $red;
$sith-icon: $red;

// Highlight Colors
$hover-highlight: $red;
$select-highlight: $red;
$inline-highlight: $red;

// Messaging Colors
$messaging-background: $red;
$messaging-text: $red;

// Header Colors
$header-flat: $red;
$header-gradient-start: $red;
$header-gradient-end: $red;
